.header-artist{
    display: flex;
    justify-content: space-between;
}
.header-artist >.header-artist-title {
    display: flex;
    flex-direction: column;

}
.song-container{
    display: flex;
    flex-direction: column;
}
.album-header-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.album-header-row > h6{
    flex-basis: 30%;
    text-align: start;
    border: 1px solid black;
}
.song-container > .song{
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: space-around; */
    /* margin-bottom: 10px; */
}
.song > header.song-header {
    display: flex;
    flex-direction: column;
}
.song-container > .song > * {
    flex-basis: 30%;
    flex-grow: 1;
}
.song-container > .song > .checkboxes{
    display: flex;
    align-items: center;
}
.song-container > .song > .checkboxes span{
    display: inline-flex;
    justify-content: center;
    flex-basis: 50%;
}
.song > .song-title > .song-links,
.song > .song-title {
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue;; */
}
.song-links a {
    text-decoration: none;
    align-self: flex-end;
}

.year-container.collapsed .album-container {
    display: none;
}
.album-container > header {
    display: flex;
    justify-content: space-between;
}
.album-container > header img{
    max-height: 150px;

}
.album-container.collapsed .song-container {
    display: none;
}